/**
 * Treehouse FSJS Techdegree
 * Random Quote Generator - CSS
 */

.body {
  background-image: url("https://source.unsplash.com/random");
  color: black;
  font-family: 'Playfair Display', serif;
}

#quote-box {
  position: relative;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quote {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  background-color:  rgb(255,255,255);
}

.quote:before, .quote:after {
  font-size: 4.rem;
  line-height: 10rem;
  position: absolute;
}

.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}

.quote:after {
  content: "”";
  top: .5em;
  margin-left: .1em;
  position: absolute;
}

.source {
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 2;
  text-align: right;
  background-color:  rgb(255,255,255);
}

.source:before {
  content: "—";
}

.citation {
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: left;
  background-color: rgb(255,255,255);
}

.citation:before {
  content: "Citation -  ";
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 2;
  text-align: left;
}

.year:before {
  content: "Year - ";
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: left;
  background-color:  rgb(255,255,255);
}
.year{
  background-color: rgb(255,255,255);
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  line-height: 2.1;
  text-align: left;
}

.topic {
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: left;
  background-color: rgb(255,255,255);
}

.topic:before {
  content: "Topic -  ";
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 2;
  text-align: left;
}

#loadQuote {
  position: fixed;
  width: 15em;
  display: inline-block;
  left: 50%;
  margin-left: -7em;
  bottom: 80px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgb(77,77,255);
  padding: 20px 0;
  transition: .5s ;
}
#loadQuote:hover {
  background-color: rgb(179,217,255);
}

#loadQuote:focus {
  outline: none;
}

@media (min-width: 420px) {
  .quote {
    font-size: 4rem;
  }
  .quote:before, .quote:after {
    font-size: rem;
    background-color: rgb(255,255,255);
    position: static;

  }
  .source {
    font-size: 1.25rem;
  }
}
